* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

header,
main {
  max-width: 34.375rem;
  width: 100%;
  padding: 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  align-items: center;
}

header {
  background-color: #6943ff;
  h1 {
    color: white;
    font-size: 1.75rem;
    line-height: 2.375rem;
  }
  input {
    /*TODO: Figure out why width isn't working */
    background-color: transparent;
    max-width: 30%;
    height: 5.1875rem;
    color: white;
    border: 2px solid #b295ff;
    border-radius: 5px;
    font-size: 3.625rem;
    font-weight: 900;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input::placeholder {
    color: white;
    opacity: 0.8;
  }

  input:focus-visible {
    outline: 2px solid #b295ff;
  }
  button {
    color: #3d3d3d;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.75rem;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
  }
  button:hover {
    background-color: #eeeeee;
  }
  #warningMsg {
    color: rgb(255, 132, 132);
    font-size: 12px;
    margin-top: 2px;
  }
}

main {
  background-color: #f4f4f4;
  section {
    background-color: white;
    width: 100%;
    padding: 1.5625rem;
    border-top-left-radius: 4.68px;
  }
  h2 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: #5a537b;
  }
  p {
    font-size: 0.875rem;
    color: #353535;
    line-height: 1.25rem;
    margin-top: 1rem;
    min-height: 1.25rem;
  }
}
